@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
}

.linksNavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 95px;
    background-color: white;
    box-shadow: 0px 4px 2px #0000001a;
}

.linksNavBar img {
    width: 40px;
    height: 40px;
}

.linksNavBar a {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    color: #4E35A9;
    transition-duration: 0.3s;
    gap: 5px; 
}

.iconNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: white;
    color: #4E35A9;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0px -4px 10px #0000001a;
    margin-top: 300px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.headerHome{
    width: 100%;
}

.headerHome img{
    width: 100%;
}

.classSumary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 5px;
    color: #4E35A9;
    background-color: white;
    box-shadow: 0px 10px 15px #0000001a;
    width: 60%;
    position: absolute;
    top: 84%;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.classSumary:hover {
    transform: scale(1.03);
}

.classSumary p{
    margin-top: 2%;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.sectionsPages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-top: 60.5%;
}

.blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.blocks:hover{
    transform: scale(1.10);
}

.blocks a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #4E35A9;
}

.blocks img{
    width: 75%;
    height: auto;
}